<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
  </system.web>
  <appSettings>
    <add key="ServiceURL" value="https://eservices.e-mudhra.com:443/eServices/v1_0/signdoc" />
    <add key="OTPURL" value="https://eservices.e-mudhra.com:443/eServices/v1_0/getotp" />
    <add key="Certificate" value="~\Files\UIDAI.cer"/>
    <add key="CertificateDate" value="20170227"/>
    <add key="ASPID" value="100002"/>
    <add key="SIGNATUREREASON" value="eSign in DigiLocker"/>
    <add key="CITY" value="Bangalore"/>
    <add key="CERTLOCATION" value="370,50,500,100"/>
    <add key="ClientCertificate" value="~\Files\DocSigner.pfx" />
    <add key="ClientCertificate1" value="~\Files\elocker-test.cer" />
    <add key="ClientPdf" value="~\Files\test.pdf" />
    <add key="LogFile" value="~\Files\logfile.csv"/>
  </appSettings>
 </configuration>